@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --color-black: #000000;
  --color-white: var(--color-white);
}

@layer base {
  * {
    @variant dark {
      --color-black: #eeeeee;
      --color-white: #000000;
    }
  }
}

body {
  scrollbar-width: thin;
  scrollbar-color: #009999 transparent;
  @apply text-black bg-white;
}

::-webkit-scrollbar-button {
  width: 0;
  height: 0;
  display: none;
}
