.dark {
  .leaflet-layer {
    filter: invert(100%) hue-rotate(180deg) brightness(95%) contrast(90%);
  }

  .leaflet-draw-draw-polygon {
    filter: brightness(0) invert(1);
  }
}

.leaflet-control-zoom-in,
.leaflet-control-zoom-out {
  @apply text-default-text! rounded-none;
}

.leaflet-draw-section:last-of-type {
  @apply hidden;
}

.leaflet-control-container {
  * {
    @apply font-sans;
  }
  .leaflet-bar {
    @apply !border-none shadow-sm;
  }
  .leaflet-control {
    @apply rounded-sm shadow-sm bg-default-background/80;
  }
  .leaflet-control-attribution {
    @apply text-black/50;

    a {
      @apply text-primary;
    }
  }

  /* CSS hacks to hide the toolbar, but allow cancelling drawing by re-clicking the active icon.
No method available in lib to cancel drawings */
  .leaflet-draw-actions {
    @apply top-0 left-0 w-full h-full overflow-hidden;
    li {
      @apply !hidden;
    }
    li:last-of-type {
      @apply !block h-full w-full;

      a {
        @apply !border-0 h-full w-full text-transparent;
      }
    }
  }
  a {
    @apply !bg-transparent hover:bg-default-background;
  }
}

.leaflet-marker-icon {
  @apply rounded-full bg-cyan-200 border-2 border-accent;
}

.leaflet-interactive {
  @apply stroke-accent fill-cyan-400;
}
