@layer components {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-mono text-white;
  }

  h1 {
    @apply font-medium text-4xl;
  }

  h2 {
    @apply font-semibold text-2xl;
  }
  h4 {
    @apply font-medium text-lg;
  }
  h6 {
    @apply font-medium;
  }

  .card:not(.card-transparent) {
    @apply bg-default-background dark:bg-gray-800;
  }

  .card > h1,
  h2,
  h3,
  h4,
  h6 {
    @apply text-default-text;
  }
}

@utility stable-scrollbar {
  scrollbar-width: thin;
  scrollbar-gutter: stable;
}

@utility focus-ring {
  transition: outline 0s !important;

  @apply focus-visible:outline-offset-2 focus-visible:outline-2 focus:outline-offset-2 focus:outline-2 [button]:m-1;
}

@utility card {
  @apply rounded border shadow-md p-4 md:p-6;
  @apply border-gray-200 dark:border-gray-800/20;
}

@utility card-transparent {
  @apply bg-default-background/80 dark:bg-gray-800/80;
}

@utility pretty-background {
  background-size: 800%;

  @apply bg-gradient-to-tr animate-background-shift
  bg-default-background from-teal-500/80 via-cyan-500/80 to-purple-400/90 
  dark:from-teal-800/60 dark:via-cyan-800/60 dark:to-purple-600/60;
}
