@layer components {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-mono text-white;
  }

  h1 {
    @apply font-medium text-4xl;
  }

  h2 {
    @apply font-semibold text-2xl;
  }
  h4 {
    @apply font-medium text-lg;
  }
  h6 {
    @apply font-medium;
  }

  .card > h1,
  h2,
  h3,
  h4,
  h6 {
    @apply text-default-text;
  }

  a {
    @apply focus-visible:focus-ring outline-inherit rounded-sm;
  }
}

@theme {
  --spacing-header: --spacing(10);
  --height-header: --spacing(10);
}

@utility border-header {
  @apply border-white/10;
}

@utility bg-header {
  @apply bg-fixed bg-top pretty-background border-b;
}

@utility w-header {
  width: var(--height-header);
  min-width: var(--height-header);
}

@utility top-header {
  top: var(--height-header);
}

@utility top-header-* {
  top: calc(var(--height-header) * --value(integer));
}

@utility grid-centered {
  @apply grid grid-cols-[1fr_auto_1fr];
}

@utility scroll-m-header-* {
  scroll-margin: calc(var(--height-header) * --value(integer));
}

@utility h-dvh-header {
  height: calc(100dvh - var(--height-header));
}

@utility h-dvh-header-* {
  height: calc(100dvh - (var(--height-header)) * --value(integer));
}

@utility stable-scrollbar {
  scrollbar-width: thin;
  scrollbar-gutter: stable;
}

@utility focus-ring {
  transition: outline 0s !important;

  @apply focus-visible:outline-offset-2 focus-visible:outline-2 focus:outline-offset-2 focus:outline-2 [button]:m-1;
}

@utility px-safe-* {
  padding-right: max(--spacing(--value(integer)), env(safe-area-inset-right));
  padding-left: max(--spacing(--value(integer)), env(safe-area-inset-left));
}

@utility page-wrapper {
  @apply w-full px-safe-2 big-screen:px-8;
}

@utility card {
  @apply rounded border shadow-md p-4 md:p-6;
  @apply border-gray-200 dark:border-gray-800/20;
  @apply bg-default-background/80 dark:bg-gray-800/80;
}

@utility card-solid {
  @apply bg-default-background dark:bg-gray-800;
}

@utility pretty-background {
  background-size: 800%;

  @apply bg-gradient-to-tr animate-background-shift
  bg-default-background from-teal-500/80 via-cyan-500/80 to-purple-400/90 
  dark:from-teal-800/60 dark:via-cyan-800/60 dark:to-purple-600/60;
}
